* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1460px;
  margin: 0 auto;
  display: flex;
}

.main__right {
  font-family: "Ubuntu";
  padding-left: 100px;
  font-size: 22px;
  flex: 50%;
}

.main__right h1 {
  color: #0b64fe;
  font-weight: 300;
  font-size: 62px;
  line-height: 100%;
  margin-bottom: 20px;
}

.main__right p {
  margin-bottom: 20px;
  line-height: 170%;
  color: #181818;
}

.main__left {
  flex: 50%;
}

.text__container {
  width: 514px;
}

.bimg,
.timg {
  width: 1300px;
  position: absolute;
  top: -60px;
  left: -250px;
}
.btn {
  font-family: "Ubuntu";
  position: absolute;
  top: 400px;
  font-size: 40px;
  border-radius: 50%;
  background-color: #a6ffff;
}

.btn:first-of-type {
  padding: 50px 20px;
  left: 200px;
}

.btn:last-of-type {
  padding: 50px 32px;
  left: 400px;
}
